	/*
  	Flaticon icon font: Flaticon
  	Creation date: 13/11/2019 18:17
  	*/

	@font-face {
	    font-family: "Flaticon";
	    src: url("../fonts/Flaticon.eot");
	    src: url("../fonts/Flaticon-1.eot") format("embedded-opentype"),
	        url("../fonts/Flaticon.woff2") format("woff2"),
	        url("../fonts/Flaticon.woff") format("woff"),
	        url("../fonts/Flaticon.ttf") format("truetype"),
	        url("../fonts/Flaticon.svg") format("svg");
	    font-weight: normal;
	    font-style: normal;
	}

	@media screen and (-webkit-min-device-pixel-ratio:0) {
	    @font-face {
	        font-family: "Flaticon";
	        src: url("../fonts/Flaticon.svg") format("svg");
	    }
	}

	[class^="flaticon-"]:before,
	[class*=" flaticon-"]:before,
	[class^="flaticon-"]:after,
	[class*=" flaticon-"]:after {
	    font-family: Flaticon;
	    font-size: 20px;
	    font-style: normal;
	    /* margin-left: 20px; */
	}

	.flaticon-hand-shake:before {
	    content: "\f100";
	}

	.flaticon-group:before {
	    content: "\f101";
	}

	.flaticon-money:before {
	    content: "\f102";
	}

	.flaticon-money-1:before {
	    content: "\f103";
	}

	.flaticon-education:before {
	    content: "\f104";
	}

	.flaticon-innovation:before {
	    content: "\f105";
	}

	.flaticon-goal:before {
	    content: "\f106";
	}

	.flaticon-man:before {
	    content: "\f107";
	}

	.flaticon-bar-chart:before {
	    content: "\f108";
	}

	.flaticon-money-2:before {
	    content: "\f109";
	}

	.flaticon-hr:before {
	    content: "\f10a";
	}

	.flaticon-board:before {
	    content: "\f10b";
	}

	.flaticon-quality:before {
	    content: "\f10c";
	}

	.flaticon-trophy:before {
	    content: "\f10d";
	}

	.flaticon-customer-service:before {
	    content: "\f10e";
	}

	.flaticon-heart:before {
	    content: "\f10f";
	}

	.flaticon-clipboard:before {
	    content: "\f110";
	}

	.flaticon-calendar:before {
	    content: "\f111";
	}
